body,html{
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(55, 135, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    margin-left: 15%;
    color: rgb(55, 135, 226);
    font-size: 80px;
    margin-top: 20%;
}
.container{
    background-color: white;
    height: 60%;
    width: 70%;
    border-radius: 15px;
    box-shadow: 10px 10px 90px rgb(72, 72, 72);
}
.container button{
    width: 120px;
    height: 40px;
    margin-top: 5%;
    margin-left: 16%;
}
.container button:hover{
    box-shadow: 0px 5px 10px black;
}
#pause{
    border: none;
    background-color: rgb(0, 39, 146);
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 10px;
    cursor: pointer;
}
#start{
    border: none;
    background-color: rgb(159, 2, 2);
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 10px;
    cursor: pointer;
}
#reset{
    border: none;
    background-color: rgb(0, 127, 30);
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 10px;
    cursor: pointer;
}
#innerContainer{
    background-color: white;
    border-radius: 15px;
    margin-top: 3%;
    margin-left: 10%;
    height: 60%;
    width: 80%;
    box-shadow: 10px 10px 90px rgb(72, 72, 72);
}